
node_modules/
client/node_modules/
*/node_modules/


dist/
client/dist/
client/build/
dist-ssr/
.vite/
.vite/deps/
*.local

coverage/
*.lcov


.env
.env.*
!.env.example


logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*


.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

.eslintcache
.cache/
.temp/
.history/


*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


vite.config.ts
vite.config.js


*.pem
